<div ng-include src="'partials/marketad.header.html'"></div>

<div class="container">

  <div class="row">
    <!-- Search panel -->
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div id="searchPanel" class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Search</div>
        </div>
        <div class="panel-body">
          <form role="form" class="form-horizontal" id="searchForm">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
              <input type="text" ng-model="searchText" placeholder="Enter keyword" class="form-control">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-cloak>
    <!-- Body grid -->
    <div class="marketad col-md-4 col-sm-6" ng-repeat="item in marketads | filter:searchText">
      <div class="panel panel-default">
        <div class="panel-body media">
          <div class="media-left media-top">
            <a ng-href="#/details/{{item.id}}" class="img-thumbnail">
              <img ng-if="item.thumbnailUrl != null" class="media-object" ng-src="{{item.thumbnailUrl}}">
              <img ng-if="item.thumbnailUrl === null" class="media-object" ng-src="img/thumbnail-placeholder.png">
            </a>
          </div>
          <div class="media-body">
          <h3><a ng-href="#/details/{{item.id}}" id="titleLink">{{item.title}}</a></h3>
          <p>
            {{item.description | limitTo:80}}
            <span ng-if="item.description.length > 80">... <a ng-href="#/details/{{item.id}}">Read more</a></span>
          </p>
          <p>{{item.priceCents | prettyEuro}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
